@import "../fonts/MyFontsWebfontsKit.css";
@import "grid.scss";
@import "colours.scss";
@import "header.scss";
@import "footer.scss";

html {
  font-size: 62.5%;
}

*, :after, :before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


html,
body{
  margin:0;
  padding:0;
}

body {
  background: $heroGrey;
  color: $darktext;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

hr {
  display: block;
  border-width: 1px;
  width: 78px;
  background: #988468;
  opacity: 0.4;
}

.clear {
  clear: both;
}

.lighttext {
  color: $lighttext;
}
.darktext {
  color: $darktext;
}
.goldtext {
  color: $gold;
}

.center-text {
  text-align: center;
}
.center-element {
  margin: auto;
  display: block;
  float: none;
}

a {
  color: $gold;
}

.container-full {
  max-width: 1480px;
}
