@import url(../fonts/MyFontsWebfontsKit.css);
/* ------------------------------------------
---------- Grid System------
------------------------------------------ */
.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

@media only screen and (min-width: 750px) {
  .row-m {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row-m:before, .row-m:after {
    content: "";
    display: table;
  }
  .row-m:after {
    clear: both;
  }

  .clear-m:before, .clear-m:after {
    content: "";
    display: table;
  }

  .clear-m:after {
    clear: both;
  }
}
@media only screen and (min-width: 1220px) {
  .row-l {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row-l:before, .row-l:after {
    content: "";
    display: table;
  }
  .row-l:after {
    clear: both;
  }

  .clear-l:before, .clear-l:after {
    content: "";
    display: table;
  }

  .clear-l:after {
    clear: both;
  }
}
@media only screen and (min-width: 1460px) {
  .row-xl {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row-xl:before, .row-xl:after {
    content: "";
    display: table;
  }
  .row-xl:after {
    clear: both;
  }

  .clear-xl:before, .clear-xl:after {
    content: "";
    display: table;
  }

  .clear-xl:after {
    clear: both;
  }
}
.container, .container-full {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 750px) {
  .container {
    width: 730px;
  }

  .container-m, .container-full-m {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-m {
    width: 730px;
  }

  .container-full-m {
    width: auto;
  }
}
@media only screen and (min-width: 1220px) {
  .container {
    width: 1200px;
  }

  .container-l, .container-full-l {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-l {
    width: 1200px;
  }

  .container-full-l {
    width: auto;
  }
}
@media only screen and (min-width: 1460px) {
  .container {
    width: 1440px;
  }

  .container-xl, .container-full-xl {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-xl {
    width: 1440px;
  }

  .container-full-xl {
    width: auto;
  }
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-1-2,
.col-1-3,
.col-2-3,
.col-1-4,
.col-3-4,
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.33333%;
}

.col-2-3 {
  width: 66.66667%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-1-5 {
  width: 20%;
}

.col-2-5 {
  width: 40%;
}

.col-3-5 {
  width: 60%;
}

.col-4-5 {
  width: 80%;
}

.col-full {
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .col-1-m,
  .col-2-m,
  .col-3-m,
  .col-4-m,
  .col-5-m,
  .col-6-m,
  .col-7-m,
  .col-8-m,
  .col-9-m,
  .col-10-m,
  .col-11-m,
  .col-12-m,
  .col-1-2-m,
  .col-1-3-m,
  .col-2-3-m,
  .col-1-4-m,
  .col-3-4-m,
  .col-1-5-m,
  .col-2-5-m,
  .col-3-5-m,
  .col-4-5-m {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }

  .col-1-m {
    width: 8.33333%;
  }

  .col-2-m {
    width: 16.66667%;
  }

  .col-3-m {
    width: 25%;
  }

  .col-4-m {
    width: 33.33333%;
  }

  .col-5-m {
    width: 41.66667%;
  }

  .col-6-m {
    width: 50%;
  }

  .col-7-m {
    width: 58.33333%;
  }

  .col-8-m {
    width: 66.66667%;
  }

  .col-9-m {
    width: 75%;
  }

  .col-10-m {
    width: 83.33333%;
  }

  .col-11-m {
    width: 91.66667%;
  }

  .col-12-m {
    width: 100%;
  }

  .col-1-2-m {
    width: 50%;
  }

  .col-1-3-m {
    width: 33.33333%;
  }

  .col-2-3-m {
    width: 66.66667%;
  }

  .col-1-4-m {
    width: 25%;
  }

  .col-3-4-m {
    width: 75%;
  }

  .col-1-5-m {
    width: 20%;
  }

  .col-2-5-m {
    width: 40%;
  }

  .col-3-5-m {
    width: 60%;
  }

  .col-4-5-m {
    width: 80%;
  }

  .col-full-m {
    width: 100%;
  }
}
@media only screen and (min-width: 1220px) {
  .col-1-l,
  .col-2-l,
  .col-3-l,
  .col-4-l,
  .col-5-l,
  .col-6-l,
  .col-7-l,
  .col-8-l,
  .col-9-l,
  .col-10-l,
  .col-11-l,
  .col-12-l,
  .col-1-2-l,
  .col-1-3-l,
  .col-2-3-l,
  .col-1-4-l,
  .col-3-4-l,
  .col-1-5-l,
  .col-2-5-l,
  .col-3-5-l,
  .col-4-5-l {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }

  .col-1-l {
    width: 8.33333%;
  }

  .col-2-l {
    width: 16.66667%;
  }

  .col-3-l {
    width: 25%;
  }

  .col-4-l {
    width: 33.33333%;
  }

  .col-5-l {
    width: 41.66667%;
  }

  .col-6-l {
    width: 50%;
  }

  .col-7-l {
    width: 58.33333%;
  }

  .col-8-l {
    width: 66.66667%;
  }

  .col-9-l {
    width: 75%;
  }

  .col-10-l {
    width: 83.33333%;
  }

  .col-11-l {
    width: 91.66667%;
  }

  .col-12-l {
    width: 100%;
  }

  .col-1-2-l {
    width: 50%;
  }

  .col-1-3-l {
    width: 33.33333%;
  }

  .col-2-3-l {
    width: 66.66667%;
  }

  .col-1-4-l {
    width: 25%;
  }

  .col-3-4-l {
    width: 75%;
  }

  .col-1-5-l {
    width: 20%;
  }

  .col-2-5-l {
    width: 40%;
  }

  .col-3-5-l {
    width: 60%;
  }

  .col-4-5-l {
    width: 80%;
  }

  .col-full-l {
    width: 100%;
  }
}
@media only screen and (min-width: 1460px) {
  .col-1-xl,
  .col-2-xl,
  .col-3-xl,
  .col-4-xl,
  .col-5-xl,
  .col-6-xl,
  .col-7-xl,
  .col-8-xl,
  .col-9-xl,
  .col-10-xl,
  .col-11-xl,
  .col-12-xl,
  .col-1-2-xl,
  .col-1-3-xl,
  .col-2-3-xl,
  .col-1-4-xl,
  .col-3-4-xl,
  .col-1-5-xl,
  .col-2-5-xl,
  .col-3-5-xl,
  .col-4-5-xl {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
}
html {
  font-size: 62.5%;
}

*, :after, :before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #96a0a9;
  color: #1a1a1a;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

hr {
  display: block;
  border-width: 1px;
  width: 78px;
  background: #988468;
  opacity: 0.4;
}

.clear {
  clear: both;
}

.lighttext {
  color: #fff;
}

.darktext {
  color: #1a1a1a;
}

.goldtext {
  color: #988468;
}

.center-text {
  text-align: center;
}

.center-element {
  margin: auto;
  display: block;
  float: none;
}

a {
  color: #988468;
}

.container-full {
  max-width: 1480px;
}

/*# sourceMappingURL=style.css.map */
